body {
    background: #f6f6f6;
}
header {
    width: 100%;
    height: auto;
    background: #fff;
    padding: 20px auto;
    box-shadow: 0 0 0 2px #eee;
    display: flex;
    position: fixed;
    top: 0;
    left:0;
}

header > div {
    width: 50%;
    padding: 15px 0px;
    text-align: left;
}

header > div:first-of-type i{margin-left: 15px;}

header > div > span {
    font-size: larger;
    font-weight: bolder;
}

main {margin-top: 100px;}

.addUser {
    padding: 10px 15px;
    color: #fff;
    font-weight: 500;
    border: none;
    border-radius: 3px;
    outline: none;
    background: var(--secondary);
    box-shadow: 0 1px 3px #ddd;
}

.addUser:hover {
    box-shadow: 0 0 0 transparent;
    opacity: 0.8;
}

.panel {
    width: 90vw;
    height: auto;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 50px auto;
}

.panelHead {
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.panelHead div {
    padding: 13px 20px;
    cursor: pointer;
}

.panelList {
    width: auto;
    background: rgb(219, 219, 253);
    display: flex;
}

.users {border-right: 1px solid #ddd;}
.comments {border-left: 1px solid #ddd;}

.usersData, .commentsData, .postsData {
    width: 100%;
    height: auto;
    display: none;
    padding: 0;
    margin: 0;
}

.show {display: block;}

table, tr {
    width: 100%;
    height: auto;
    padding: 13px;
}

tbody tr {height: 50px;}

th, td {
    height: auto;
    padding: 7px 10px;
}

td .del {
    color: #fff;
    border: none;
    padding: 6px 15px;
    background: linear-gradient(#ff1010, rgb(236, 10, 10));
    box-shadow: 0 1px 2px grey;
}

td .del:hover {
    background: #ff1010;
    box-shadow: 0 0 0 #ddd;
}

.users, .posts, .comments {border-bottom: 1px solid #ddd;}

.active {
    background: rgb(219, 219, 253);
    border-bottom: none;
    display: block;
}